name: Wasm Test

on:
  push:
    branches:
      - "main"
      - "dev"
      - "base"

  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Job Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
            target: wasm32-unknown-unknown
            components: rustfmt
      - name: Install wasm-pack
        run: |
          cargo install wasm-pack
      - name: Run tests
        run: |
          cd wasm && cargo test
